<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" prefix="og: http://ogp.me/ns#"  lang="en-IN">
    <head>
      <link rel="stylesheet" href="{% static 'style.css'%}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Live Cricket | Online Scoring| Player Profile</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <script src="{% static 'js/jquery.min.js'%}"></script> 
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/jquery.easing.min.js'%}"></script>
        <script src="{% static 'js/app.js'%}"></script>
        <meta name="description" content="We craft awesome Bootstrap themes for free and share selected resources for web designer &amp; developer. Download Free HTML themes for Bootstrap" /> 
        <link href="{% static 'img/logo_icon_96dp.png'%}" rel="apple-touch-icon" sizes="96x96">
        <link href="{% static 'img/logo_icon_96dp.png'%}" rel="icon" sizes="96x96" type="image/png">
        <link href="{% static 'img/logo_icon_32dp.png'%}" rel="icon" sizes="32x32" type="image/png">
        <meta content="{% static 'img/logo_icon_96dp.png'%}" name="msapplication-TileImage">
        
        <meta property="og:url" content="https://www.boostraptheme.com/demo/index.html" />
        <meta property="og:title" content="Free Bootstrap Template" />
        <meta property="og:locale" content="en_IN" /> 
        <meta property="og:site_name" content="Boostraptheme" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="BoostrapTheme" />
        <meta name="twitter:creator" content="BoostrapTheme" />

        <link rel='stylesheet' href="{% static 'font-awesome/css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/app.css'%}">
      <style>
      .crick-header{
        color:#d81c00 !important;
        padding:10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    </style>
    {% block head %}
    {% endblock %}
    </head>

    <body class='bg-light'>

        <!-- TOPNAVBAR 
            =================-->
            <div class="topmenu">
              <div class="container-fluid">
                <div class="row"  id="page-top">
                  <div class="col-md-6 col-sm-6"> 
                     <div class="info">Live Cricket </div>
                  </div>   
                  <div class="col-md-6 sec col-sm-6">  
                  	<div class="social"> 
                  		<ul>
                  			<li>Social Corner </li>
                  			<li><a href="https://www.facebook.com/icc" target="_blank"><i class="fa fa-facebook"></a></i></li>
                  			<li><a href="https://twitter.com/ICC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></a></i></li>
                  			<li><a href="https://www.instagram.com/icc/?hl=en" target="_blank"><i class="fa fa-instagram"></a></i></li>
                  		</ul>
                  	</div> 
                  </div>
                </div>
              </div>
            </div>  
        
        <!-- NAVBAR 
            =================-->
            <nav class="navbar navbar-expand-sm navbar-light" id="mainNav" data-toggle="affix">
              <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{% url 'index'%}"><img src="{% static 'img/logo.png'%}" alt="" class="img-fluid"></a>
                <button class="navbar-toggler navbar-toggler-center  ml-auto py-3 my-1 " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <a href="{% url 'index'%}" class='navbar-brand'>LiveCricket</a>
                  <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index'%}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:search'%}">Players</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:upcoming'%}">Match Calendar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:old_matches'%}">Match History</a>
                    </li>

                    
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cricketapp:contact'%}">Give Feedback</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="photo.html">Photo</a>
                    </li>  -->
                    
                  </ul>
                </div>
              </div>
            </nav> 

        {% block body %}
        {% endblock %}
 
        <!-- FOOTER 
            =================-->
            <footer class="footer">
            	<div class="container">
            		<div class="row">
            			<div class="col-md-3">
            				<div class="team">
            					<h5>Teams</h5>
                                <div class="border-bot"></div>
            					<ul>
            						<li><a href="http://www.chennaisuperkings.com/CSK_WEB/index.html" target="_blank">Chennai Super Kings</a></li>
            						<li><a href="https://www.delhicapitals.in/" target="_blank">Delhi Capitals</a></li>
            						<li><a href="https://www.kxip.in/" target="_blank">Kings XI Punjab</a></li>
            						<li><a href="http://www.kkr.in/" target="_blank">Kolkata Knight Riders</a></li>
            						<li><a href="http://www.mumbaiindians.com/" target="_blank">Mumbai Indians</a></li>
            						<li><a href="http://www.rajasthanroyals.com/" target="_blank">Rajasthan Royals</a></li>
            						<li><a href="https://www.royalchallengers.com/" target="_blank">Royal Challengers Bangalore</a></li>
            						<li><a href="http://www.sunrisershyderabad.in/" target="_blank">Sunrisers Hyderabad</a></li>
            					</ul>
            				</div>
            			</div>
            			<div class="col-md-3">
            				<div class="team">
            					<h5>Useful Links</h5>
            					<div class="border-bot"></div>
                                <ul>
            						<li><a href="{% url 'index'%}">Home</a></li>
            						<li><a href="{% url 'cricketapp:search'%}">Players</a></li>
            						<li><a href="{% url 'cricketapp:upcoming'%}">Match Calendar</a></li>
            						<li><a href="{% url 'cricketapp:contact'%}">Contact Us</a></li>  
            					</ul>
            				</div>
            			</div>
            			<div class="col-md-3">
            				<div class="trend">
            					<h5>External Links</h5>
            					<div class="border-bot"></div>
                        <ul>
              						<li><a href="https://www.iplt20.com/auction/2019" target="_blank">IPL Auction 2019</a></li>
              						<li><a href="https://www.iplt20.com/video/149833/-top-buys-from-vivo-ipl-player-auction-2019" target="_blank">ipl highest paid player 2019</a></li>
              						<li><a href="https://www.iplt20.com/stats/2019/most-runs" target="_blank">Orange Cap</a></li>
              						<li><a href="https://www.iplt20.com/about/code-of-conduct-for-players-and-team-officials" target="_blank">Code of Conduct for Players and Team Officials</a></li>
                          <li><a href="IPL 2019 Match Playing Conditions" target="_blank">IPL 2019 Match Playing Conditions</a></li>
              					</ul>
            				</div>
            			</div>
            			<div class="col-md-3">
            				<div class="company-desc text-center">
            					<a href="index.html"><img src="img/logo-big.png" alt="" class="img-fluid"></a>
            					<ul>
            						<li><a href="https://www.facebook.com/icc" target="_blank"><i class="fa fa-facebook"></a></i></li>
                  			<li><a href="https://twitter.com/ICC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></a></i></li>
                  			<li><a href="https://www.instagram.com/icc/?hl=en" target="_blank"><i class="fa fa-instagram"></a></i></li>
            					</ul>
            				</div>
            			</div>
            		</div>
              </div>
              <div class="container-fluid footer-b text-center">
                <small>Copyrights &copy; 2019 <a href="#">Manpreet & Bikram</a></small>
            </div>
            </footer>

  
    </body>
</html>