{% extends "base.html"%}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523628!2d76.69247711461036!3d30.71682269345137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech+Solution+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1555666003738!5m2!1sen!2sin" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class='col-md-5 mx-auto my-3'>
        <h2>LEAVE YOUR FEEDBACK</h2>
        <div style='height:2px;width:30%;background:#d81c00;'></div>
    </div>
</div>
<div class='row'>
    <div class='col-md-6 mx-auto'>
        {% if status %}
        <p class='alert alert-warning'>{{status}}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class='form-group'>
                <input type="text" name="name" placeholder='Enter Name' class='form-control'/>
            </div>
            <div class='form-group'>
                <input type="email" name="email" placeholder='Enter Email Address' class='form-control'/>
            </div>
            <div class='form-group'>
                <textarea name="message" rows="10" class='form-control' placeholder='Leave Message Here'></textarea>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn' style='width:30%;border-radius:20px;background: #d81c00;'>
            </div>
                
        </form>
    </div>
</div>
    
{% endblock %}