{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<section id="news" class="news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="left-news">
                    <div class="row top-banner">
                        <div class="col-md-12">
                          <h1 class='crick-header'>Upcoming Matches</h1>
                          <p class="text-danger"><strong>Total Matches:</strong> {{total}}</p>
                
                          <div class='card-columns'>
                              {% for i in all_matches%}
                                <div class='card text-dark shadow-lg h-100' style=''>
                                  <div class='card-header'>
                                    <p class='card-title text-center'>
                                      {{i.date}}
                                    </p>
                                  </div>
                                  <div class='card-body'>
                                    <div class='row'>
                                      <div class='col-md-5'>
                                        <img src="/static/img/team/{{i.logot1}}" height='50' width="50">
                                        <strong class='card-text text-dark'>{{i.team1}}</strong>
                                      </div>
                                      <div class='col-md-2'>
                                        <div class='badge badge-pill badge-danger mt-3'>VS</div>
                                      </div>
                                      <div class='col-md-5'>
                                        <img src="/static/img/team/{{i.logot2}}" height='50' width="50">
                                        <strong class='card-text text-dark'>{{i.team2}}</strong>
                                      </div>
                                    </div>                              
                                    <div class='my-3'>
                                        {% if i.squad is True %}
                                        <a href="{% url 'cricketapp:squad'%}?id={{i.match_id}}&l1={{i.logot1}}&&l2={{i.logot2}}"><button style='background:#d81c00;' class='btn btn-sm btn-block text-light'>View Team</button></a>
                                      {% else %}
                                      <p class='color text-center'>Team not Created Yet, Available Soon</p>
  
                                      {% endif %}
                                    </div>

                                  </div>
                                </div>
                              {% endfor %}
                          </div>
                        </div>
                    </div> 
                </div>                               
            </div>
            <div class="col-md-3">        
                <div class="right-news">
                    <div class="live-score">
                        <h1 class='crick-header'>Live Matches</h1>
                        {% for j in recents %}
                        
                        <div class="card text-center m-4">
                            {% if j.winner_team %}
                            <div class="card-header">
                              <a href="{% url 'cricketapp:scoreboard'%}?match_id={{j.match_id}}&l1={{j.logot1}}&l2={{j.logot2}}" class='text-light'>Live Scoreboard</a>
                            </div>
                            {% endif %}
                            <div class="card-body"> 
                              <ul>
                                  <li><img src="/static/img/team/{{j.logot1}}" alt="" class="img-fluid"><p>{{j.team1}}</p></li>
                                  <li>vs</li>
                                  <li><img src="/static/img/team/{{j.logot2}}" alt="" class="img-fluid"><p>{{j.team2}}</p></li>
                              </ul> 
                              <table class='table'>
                                <tr>
                                  <th class='color'>Live Score</th>
                                  <td>{{j.toss_winner_team}}</td>
                                </tr>
                                <tr>
                                  <th class='color'>Winner Team</th>
                                  <td>{{j.winner_team}}</td>
                                </tr>
                              </table>
                            </div>
                            <div class="card-footer text-muted">
                              {{j.date}}
                            </div>
                          </div>
                        {% endfor %}
                    </div> 
                    <!-- <div class="team-point">
                        <div class="card text-center mt-3">
                          <div class="card-header">
                            Team Points
                          </div>
                          <div class="card-body">
                          <table class="table table-hover">
                            <thead  class="thead-light">
                              <tr>
                                <th>Top</th>
                                <th>Team</th>
                                <th>Pts</th>
                                <th>RR</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td><img src="img/team-logo/chennai_super_kings_logo.png" alt="" class="img-fluid"> <b>CSK</b></td>
                                <td>13</td>
                                <td>+0.832</td>
                              </tr> 
                              <tr>
                                <td>2</td>
                                <td><img src="img/team-logo/mumbai_indians_logo.png" alt="" class="img-fluid"> <b>MI</b></td>
                                <td>13</td>
                                <td>+0.832</td>
                              </tr> 
                              <tr>
                                <td>3</td>
                                <td><img src="img/team-logo/kolkata_night_logo.png" alt="" class="img-fluid"> <b>KKR</b></td>
                                <td>13</td>
                                <td>+0.832</td>
                              </tr> 
                              <tr>
                                <td>4</td>
                                <td><img src="img/team-logo/sunriser_logo.png" alt="" class="img-fluid"> <b>SRH</b></td>
                                <td>13</td>
                                <td>+0.832</td>
                              </tr> 
                              <tr>
                                <td>5</td>
                                <td><img src="img/team-logo/kings_XI_punjab_logo.png" alt="" class="img-fluid"> <b>KXIP</b></td>
                                <td>13</td>
                                <td>+0.832</td>
                              </tr> 
                              <tr>
                                <td>6</td>
                                <td><img src="img/team-logo/delhi_daredevils_logo.png" alt="" class="img-fluid"> <b>DD</b></td>
                                <td>13</td>
                                <td>+0.832</td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td><img src="img/team-logo/royal_chalanger_logo.png" alt="" class="img-fluid"> <b>RCB</b></td>
                                <td>13</td>
                                <td>+0.832</td>
                              </tr>
                              <tr>
                                <td>8</td>
                                <td><img src="img/team-logo/rajasthan_royals_logo.png" alt="" class="img-fluid"> <b>RR</b></td>
                                <td>13</td>
                                <td>+0.832</td>
                              </tr> 
                            </tbody>
                          </table> 
                          </div> 
                        </div>
                    </div>
                    <div class="latest-news"> 
                        <div class="card text-center mt-3">
                          <div class="card-header">
                            Latest News
                          </div>
                          <div class="card-body">
                            <div class="latest-news-cont pb-1">
                                <img src="img/news/news-10.jpg" alt="" class="img-fluid">
                                <a href="news-desc.html">
                                    <h5>Fitness remains his priority, Samson has also changed</h5>
                                </a>
                            </div>
                            <hr>
                            <div class="latest-news-cont pb-1">
                                <img src="img/news/news-9.jpg" alt="" class="img-fluid">
                                <a href="news-desc.html">
                                    <h5>Kings XI Punjab pooled in Rs 5.50 crore for little-known Australian</h5>
                                </a>
                            </div>
                            <hr>
                            <div class="latest-news-cont pb-1">
                                <img src="img/news/news-8.jpg" alt="" class="img-fluid">
                                <a href="news-desc.html">
                                    <h5>Tens of thousands of people turned out on the streets of Kolkata</h5>
                                </a>
                            </div>
                            <hr>
                            <div class="latest-news-cont pb-1">
                                <img src="img/news/news-7.jpg" alt="" class="img-fluid">
                                <a href="news-desc.html">
                                    <h5>Their performance against Royal Challengers Bangalore</h5>
                                </a>
                            </div>
                            <hr>
                            <div class="latest-news-cont pb-4">
                                <img src="img/news/news-1.jpg" alt="" class="img-fluid">
                                <a href="news-desc.html">
                                    <h5>IPL 2017: Karun Nair stars as Daredevils beat Sunrisers</h5>
                                </a>
                            </div>
                          </div> 
                        </div>
                    </div> 
                    <div class="top-player"> 
                        <div class="card text-center mt-3">
                          <div class="card-header">
                            IPL-2017 Top Player
                          </div>
                          <div class="card-body"> 
                            <div class="col-md-12">
                              <div class="run top-head">
                                <p>Runs</p>
                                <p>David Warner</p>
                                <p>600</p>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="top-head">
                                <p>Wickets</p>
                                <p>Bhuvneshwar</p>
                                <p>26</p>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="top-head">
                                <p>Sixes</p>
                                <p>Rishabh Pant</p>
                                <p>9</p>
                              </div>
                            </div> 
                          </div> 
                        </div>
                    </div> -->
                </div>  
            </div>
        </div>
    </div>
</section>
{% endblock %}