{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css'%}">
<link rel="stylesheet" href="{% static 'jquery.js'%}">
<style>
.crick-header{
        color:#d81c00 !important;
        padding:10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .cricket-bg{
    background: #d81c00 !important;
    color:white;text-align:center;
    padding:10px;
    font-family: 'Gill Sans';
}
.shadow{
    box-shadow:0px 0px 10px#d81c00;
}
.color{
    color:#d81c00 !important;
}
</style>
{% endblock %}
{% block body %}
<div class='container-fluid p-5'>
    <div class='row'>
        <div class='col-md-9'>
            <!-- Batting -->
            <section>
                <!-- BATTING TEAM 1-->
                <div class='m-2 p-2'>
                    <p class='cricket-bg py-3'>{{batting.0.title}}</p>
                    <table class='table table-sm shadow-lg'>
                        <thead class='thead-dark'>
                            <tr>
                                <th>Player Name</th>
                                <th>Dismissal</th>
                                <th>Runs </th>
                                <th>6s</th>
                                <th>4s</th>
                                <th>B</th>
                                <th>Strike Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in batting.0.scores %}
                            <tr>
                            {% if i.pid is 0 %}
                                <td>{{i.batsman}}</td><td></td>
                                <td colspan='5'>{{i.detail}}</td>
                            {% else %}
                                <th>
                                    <a href="{% url 'cricketapp:profile'%}?id={{i.pid}}" class='text-info btn-sm' title='View profile of {{i.batsman}}'>{{i.batsman}}</a>
                                </th>
                                <td>
                                    <p class='text-secondary'>{{i.dismissal}}</p>
                                    
                                </td>
                                <td>{{i.R}}</td>
                                <td>{{i.6s}}</td>
                                <td>{{i.4s}}</td>
                                <td>{{i.B}}</td>
                                <td>{{i.SR}}</td>
                            
                            {% endif %}
                            </tr>
                            {% endfor %}
                            <tr>
                                <th>Total:</th><td></td>
                                <td colspan="5">{{team1}}</td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
                <!-- BATTING TEAM 2-->
                <div class='m-2 p-2'>
                    <p class='cricket-bg py-3'>{{batting.1.title}}</p>
                    <table class='table table-sm shadow-lg'>
                        <thead class='thead-dark'>
                            <tr>
                                <th>Player Name</th>
                                <th>Dismissal</th>
                                <th>Runs </th>
                                <th>6s</th>
                                <th>4s</th>
                                <th>B</th>
                                <th>Strike Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in batting.1.scores %}
                            <tr>
                            {% if i.pid is 0 %}
                                <td>{{i.batsman}}</td><td></td>
                                <td colspan='5'>{{i.detail}}</td>
                            {% else %}
                                <th>
                                    <a href="{% url 'cricketapp:profile'%}?id={{i.pid}}" class='text-info btn-sm' title='View profile of {{i.batsman}}'>{{i.batsman}}</a>
                                </th>
                                <td>
                                    <p class='text-secondary'>{{i.dismissal}}</p>
                                    
                                </td>
                                <td>{{i.R}}</td>
                                <td>{{i.6s}}</td>
                                <td>{{i.4s}}</td>
                                <td>{{i.B}}</td>
                                <td>{{i.SR}}</td>
                            
                            {% endif %}
                            </tr>
                            {% endfor %}
                            <tr>
                                <th>Total:</th><td></td>
                                <td colspan="5">{{team2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </section>
            <!-- Bowling  -->
            <section>
                <!-- BOWLING TEAM 1-->
                <div class='m-2 p-2'>
                    <p class='cricket-bg py-3'>{{bowling.1.title}}</p>
                    <table class='table table-sm'>
                        <thead class='thead-dark'>
                            <tr>
                                <th>Bowler</th>
                                <th>6s</th>
                                <th>4s</th>
                                <th>0s</th>
                                <th>W</th>
                                <th>R</th>
                                <th>M</th>
                                <th>O</th>
                                <th>Econ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in bowling.1.scores %}
                                <tr>
                                    <td>
                                        <a href="{% url 'cricketapp:profile'%}?id={{i.pid}}" class='text-info btn-sm' title='View profile of {{i.bowler}}'>{{i.bowler}}</a>
                                    </td>
                                    <td>{{i.6s}}</td>
                                    <td>{{i.4s}}</td>
                                    <td>{{i.0s}}</td>
                                    <td>{{i.W}}</td>
                                    <td>{{i.R}}</td>
                                    <td>{{i.M}}</td>
                                    <td>{{i.O}}</td>
                                    <td>{{i.Econ}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- BOWLING TEAM 2-->
                <div class='m-2 p-2'>
                    <p class='cricket-bg py-3'>{{bowling.0.title}}</p>
                    <table class='table table-sm'>
                        <thead class='thead-dark'>
                            <tr>
                                <th>Bowler</th>
                                <th>6s</th>
                                <th>4s</th>
                                <th>0s</th>
                                <th>W</th>
                                <th>R</th>
                                <th>M</th>
                                <th>O</th>
                                <th>Econ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in bowling.0.scores %}
                                <tr>
                                    <td>
                                        <a href="{% url 'cricketapp:profile'%}?id={{i.pid}}" class='text-info btn-sm' title='View profile of {{i.bowler}}'>{{i.bowler}}</a>
                                    </td>
                                    <td>{{i.6s}}</td>
                                    <td>{{i.4s}}</td>
                                    <td>{{i.0s}}</td>
                                    <td>{{i.W}}</td>
                                    <td>{{i.R}}</td>
                                    <td>{{i.M}}</td>
                                    <td>{{i.O}}</td>
                                    <td>{{i.Econ}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class='col-md-3'>
            <!-- Winner Team -->
            <div class='p-4'>
                <div class='card shadow winner-info'>
                    <div class='card-body text-center'>
                        <img src="/static/img/team/{{lgo}}" height='50' width='50' alt=""><br/>
                        <p class='color'>{{wt}} Won By {{gap}} runs</p>

                    </div>
                </div>
            </div>
            <!-- Other Details -->
            <div class='p-4'>
                <!-- TEAMS 1 -->
                <section>
                    <p class='cricket-bg'>{{team.0.name}}</p>
                    <ol>
                        {% for i in team.0.players %}
                            <li>
                                <a href="{% url 'cricketapp:profile'%}?id={{i.pid}}">{{i.name}}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </section>
                <!-- TEAMS 2 -->
                <section>
                    <p class='cricket-bg'>{{team.1.name}}</p>
                    <ol>
                        {% for i in team.0.players %}
                            <li>
                                <a href="{% url 'cricketapp:profile'%}?id={{i.pid}}" title="View Profile of {{i.name}}">{{i.name}}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </section>
                <!-- HEIGHTLIGHTS -->
                <section>
                    <h3 class='color'>Other Highlights</h3>
                    <ul class='list-group text-center'>
                        <li class='list-group-item' style='height: 230px;border:1px solid #d81c00;'>
                            <marquee behavior="" height='200' direction="up" onmouseover="this.stop()" onmouseout="this.start()">
                                {% if type %}
                                    <strong>Match Type</strong>
                                    <p class='color'>{{type}}</p>
                                    <hr/>
                                {% endif %}
                                {% if date %}
                                    <strong>Match Date</strong>
                                    <p class='color'>{{date}}</p>
                                    <hr/>
                                {% endif %}
                                {% if man %}
                                    <strong>Man of the match</strong>
                                    <a href="{% url 'cricketapp:profile'%}?id={{man.pid}}" title="View Profile of {{man.name}}" class="nav-link"><p>{{man.name}}</p></a>
                                    <hr/>
                                    {% endif %}
                                {% if toss %}
                                    <strong>Toss Winner Team</strong>
                                    <p class='color'>{{toss}}</p>
                                    <hr/>
                                    {% endif %}
                                {% if wt %}
                                    <strong>Winner Team</strong>
                                    <p class='color'>{{wt}}</p>
                                    <hr/>
                                {% endif %}
                            </marquee>
                        </li>
                    </ul>
                </section>
            </div>  
        </div>
    </div>
</div>
<script>

</script>
{% endblock %}