{% extends "base.html" %}
{% load staticfiles%}
{% block head %}
<style>
.cricket-bg{
    background: #d81c00 !important;
    color:white;text-align:center;
    padding:10px;
    width:100% !important;
}
</style>
{% endblock %}
{% block body %}
<div class='container'>
    <div class='row'>
        <div class='col-md-4 py-4 mx-auto'>
            <h1>Match Squad</h1>
            <div style='width:30%;height:2px;background: #d81c00;'></div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <table class='table table-striped'>
                <thead>
                    <tr class='cricket-bg py-3 text-center text-light'>
                        <th><img src="/static/img/team/{{logot1}}" height='50' width='50'>
                            <p>{{sqa.squad.0.name}}</p>
                            <p>Total Players: {{t1}}</p>
                        </th>
                    </tr>
                </thead>
                <tbody class='text-center'>
                    {% for i in sqa.squad.0.players %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td><a href="{% url 'cricketapp:profile'%}?id={{i.pid}}"><button class='btn btn-warning btn-sm' title="View Profile of {{i.name}}">View Profile</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-md-6'>
            <table class='table table-striped'>
                <thead class='cricket-bg py-3 text-center text-light'>
                    <tr>
                        <th>
                            <img src="/static/img/team/{{logot2}}" height='50' width='50'>
                            <p>{{sqa.squad.1.name}}</p>
                            <p>Total Players: {{t2}}</p>
                        </th>
                    </tr>
                </thead>
                <tbody class='text-center'>
                    {% for i in sqa.squad.1.players %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td><a href="{% url 'cricketapp:profile'%}?id={{i.pid}}"><button class='btn btn-warning btn-sm' title="View Profile of {{i.name}}">View Profile</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}