{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}
{% block body %}
<div class='container-fluid'>
    <div class='row' style="background:url('/static/img/team/cover1.jpg');background-size:cover;">
        <div class="col-md-12 py-5" style="background:rgba(0,0,0,0.5);height:200px;">
            <h2 class="text-center text-light">Match Calendar</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12 p-5'>
            <table class="table table-striped" id='myTable'>
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in data %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#myTable').DataTable();
});
</script>
{% endblock %}